<div class="row">
    <h2>Calcular Média</h2>
</div>
<div class="row">
    <div class="col-md-2">
    <div>
    <label>AC1</label>
    <div>
        <input [(ngModel)]="ac1" type="number" class="form-control" >
      </div>
    </div>
</div>
<div class="col-md-2">
    <div>
    <label>AC2</label>
    <div>
        <input [(ngModel)]="ac2" type="number" class="form-control" >
      </div>
    </div>
</div>
<div class="col-md-2">
    <div>
    <label>AG</label>
    <div>
        <input [(ngModel)]="ag" type="number" class="form-control" >
      </div>
    </div>
</div>
<div class="col-md-2">
    <div>
    <label>AF</label>
    <div>
        <input [(ngModel)]="af" type="number" class="form-control" >
      </div>
    </div>
</div>
<div class="col-md-4">

    <button (click)="CalcMedia()" class="btn btn-info" style="margin-top: 24px;">Calcular</button>
    </div>
</div>
<div class="col-md-2">
    <div>
    <label>Resultado</label>
    <div>
        <input [(ngModel)]="resultado" type="number" class="form-control">
      </div>
    </div>
</div>
<div class="col-md-2">
    <div>
    <label>Situação</label>
    <div>
        <input [(ngModel)]="situacao" type="text" class="form-control">
      </div>
    </div>
</div>